@font-face {
    src: url("../font/main_font.ttf");
    font-family: "mf";
}

/* body */
body {
    width: 100vw;
    max-width: 100%;
    height: auto;
    margin: 0;
/*
    background-image: url('img/bg_2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 200px;
*/
    background-color: black;
    color: white;
    text-align: center;
    font-family: "mf";
    line-height: 150%;
}


/* font */
.font_1 {
    font-size: 20px;
}


/* header */
.hd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    z-index: 1;
}

.hd_logo {
    float: left;
    height: 100%;
/*    background: #454545;*/
    width: 150px;
    font-size: 30px;
}

.hd_logo > img {
    width: 100%;
    height: 100%;
}

.hd_user {
    float: right;
    height: 100%;
/*    background: #454545;*/
    margin-right: 20px;
    width: 60px;
    margin: 
}

.hd_user > img {
    width: 50%;
    height: 100%;
}

.hd_menu {
    float: right;
    height: 100%;
/*    background: #454545;*/
    width: 60px;
}

.hd_menu > img {
    width: 50%;
    height: 100%;
}


/* section */
.sc {
/*    background-color: gray;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-top: 60px;
    text-align: center;
}

.sc_1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    background-color: #707070;*/
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.sc_2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    background-color: #606060;*/
    height: auto;
    min-height: 100vh;
}

.sc_3 {
/*    background-color: yellowgreen;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.sc_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    background-color: #808080;*/
    min-height: 100vh;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

/* desktop */
@media (min-width:1024px) {     

}

/* tablet */
@media (min-width:768px) and (max-width: 1023px) {

}
    
    /* mobile */
@media (max-width:767px) {        
    
}
