@font-face {
    src: url("../font/main_font.ttf");
    font-family: "mf";
}

/* body */
body {
    width: 100vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url('../img/product_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "mf";
    line-height: 200%;
}


/* signUp */
.user_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    text-align: center;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.user_contents {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    font-size: 30px;
}

.contents_container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 20px 20px 20px 20px;
    width: 100vw;
    max-width: 100%;
    height: auto;
    font-size: 12px;
}

.contents{
    max-width: 100%;
    height: auto;
    text-align: right;
    margin: auto;
}

.contents_1{
    display: flex;
    justify-content: center;
}

.contents_image1 {
	position: absolute;
	width: 300px;
	height: 300px;
	opacity: 0.3;
}

.contents_image2 {
	width: 300px;
	height: 300px;
	opacity: 0.3;
}

.contents_image1 > img{
	width: 100%;
	height: auto;
}

.contents_image2 > img{
	width: 100%;
	height: auto;
}

.button_1 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    font-family: "mf";
    font-size: 16px;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: rgba(10, 10, 10, 0.5);
}

/* desktop */
@media (min-width:1024px) {     
    .contents_container {
    max-width: 1200px;
    font-size: 16px;
    }
    
}

/* tablet */
@media (min-width:768px) and (max-width: 1023px) {
    .contents_container {
    max-width: 800px;
    }
}
    
    /* mobile */
@media (max-width:767px) {        
    
}
